@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --polish-red: #dc143c; /* Polish red */
  --czech-red: #d7141a; /* Czech red */
  --czech-blue: #11457e; /* Czech blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
    to right,
    white,
    var(--polish-red),
    var(--czech-red),
    var(--czech-blue)
  ); /* Apply gradient background */
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  position: relative; /* Ensure the black overlay is positioned correctly */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.1; /* 10% opacity */
  pointer-events: none; /* Ensure the overlay does not interfere with interactions */
  z-index: -1; /* Ensure the overlay is behind other content */
}
